.navbar.is-spaced a.navbar-item  {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 6px;
    opacity: .7;
    transition: opacity .3s,transform .3s;
}

.navbar.is-dark .navbar-end>a.navbar-item:hover,
.navbar.is-dark .navbar-end>a.navbar-item:active,
.navbar.is-dark .navbar-end>a.navbar-item:focus,
.navbar.is-spaced a.navbar-item:hover,
.navbar.is-spaced a.navbar-item:active,
.navbar.is-spaced a.navbar-item:focus,
a.navbar-item:hover,
a.navbar-item:active,
a.navbar-item:focus  {
    opacity: 1;
    transform: scale(1.2);
    background-color: transparent;
}

a.navbar-item svg {
    display: block;
    margin: auto;
    font-size: 13px;
}